body {
  background: lightcyan;
}

.navbar {
  width: 100%;
  padding: 10px 0px 10px 0px;
  background: red;
  text-align: center;
  display: inline-flex;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
}

#home, #team, #profile, #battle, .navbar button{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 15px;
  cursor: pointer;
  background: red;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.login-form {
  display: none;
  float: right;
  border: 1px solid lightslategray;
  background: white;
  height: 170px;
}

.login-form a {
  margin-left: 195px;
}

.active {
  display: block;
}

#inputs input{
  display: block;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border-radius: 3px;
  border: 1px solid black;
}

fieldset {
  width: 250px;
  border-color: white;
  border-style: solid;
}

.submit {
  border-radius: 50%;
  margin-right: 70px;
  padding: 1px 2px 1px 2px;
  cursor: pointer;
}

.submit img {
  width: 30px;
  height: 30px;
}
.login-form, .profile, .signup{
  padding-top: 80px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.team-container {
  padding-top: 70px;
  background: red;
}

.pokemon-container, .sprite-container, .team {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon-container form {
  align-self: center;
  justify-self: center;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid black;
  width: 110px;
  height: 210px;
  margin: 10px;
  transition: transform 0.5s;
}

.pokemon-card:hover, .sprite:hover {
  box-shadow: 0 0 2px 2px gray;
  transform: scale(1.1);
}

.type-container{
  margin-top: auto;
}

.type-container img {
  margin: 0 2px 0 2px;
  height: 15px;
  width: 40px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container img {
  margin-top: 5px;
}

.info-container img, .moves img {
  width: 50px;
  height: 20px;
}

.info-container .p-img {
  width: 250px;
  height: 250px;
}

table, th, tr {
  border: 1px solid black;
}

.return {
  margin: 15px 0 15px 0;
  padding: 15px;
  border-radius: 100px;
  background: rgb(75, 75, 199);
  color: white;
}

.add {
  margin: 15px 0 15px 0;
  padding: 15px;
  border-radius: 100px;
  background: green;
  color: white;
}

.remove {
  margin: 15px 0 15px 0;
  padding: 15px;
  border-radius: 100px;
  background: red;
  color: white;
}

.return:hover, .add:hover, .remove:hover {
  box-shadow: 0 0 2px 2px yellow;
  cursor: pointer;
}

.stats th {
  width: 125px;
}

.moves {
  margin-top: 30px;
}

.moves th {
  width: 191px;
}

.poke-search {
  width: 500px;
  height: 25px;
  font-size: 20px;
  margin-top: 10px;
}

.button-container button{
  margin: 3px 2px 0px 2px;
  cursor: pointer
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 130px;
  height: 130px;
}

.delete-team {
  display: flex;
  align-items: center;
}

.delete-team button {
  margin-left: 30px;
}

.trainer-info {
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 30px;
  background: white;
}
.trainer-info button {
  margin-bottom: 25px;
}

textarea {
  height: 100px;
  margin: 10px;
}

.edit-profile {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.signup form {
  display: flex;
  flex-direction: column;
}

.signup input {
  width: 250px;
  height: 30px;
  font-size: 15px;
}

.signup button {
  display: none;
}

.signup label {
  margin-top: 20px;
  font-weight: bold;
}

.form-container {
  height: 100vh;
  background-image: url("https://media.timeout.com/images/105678963/image.jpg");
  background-size: cover;
  background-position: center;
}

.sprite {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid black;
  width: 150px;
  height: 180px;
  transition: transform 0.5s;
  margin: 10px;
}

.sprite button {
  margin-top: auto;
  margin-bottom: 5px;
}

.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25%;
  font-weight: bold;
  font-size: 20px;
}

.me img {
  height: 200px;
  width: 200px;
}

.battle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.battle h2 {
  padding-top: 80px;
  margin-bottom: auto;
}

.battle-container {
  height: 100%;
  width: 100%;
}

.pokemon-battle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  width: 95%;
  height: 65%;
  background: white;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-top: 5px solid black;
  border-bottom: 2px solid black;
}

.your-team, .enemy-team  {
  display: flex;
  flex-direction: column;
}

.your-team {
  height: 60%;
}

.enemy-team {
  height: 40%;
}

.enemy-container {
  display: flex;
}

.enemy-pokemon {
  margin-left: auto;
  margin-right: 80px;
  margin-top: 60px;
}

.your-pokemon {
  align-self: flex-end;
}

.your-pokemon img{
  margin-left: 75px;
  margin-bottom: 75px;
}

.your-container {
  display: flex;
  width: 100%;
  margin-top: auto;
  height: 100%;
}

.your-moves {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-self: flex-end;
  height: 100%;
  width: 70vh;
}

.move-table {
  border: 1px solid white;
  width: 50vh;
  margin-left: auto;
  margin-right: 15px;
}

.move-table th{
  height: 50px;
  width: 100px;
  cursor: pointer;
}

.switch-pokemon {
  margin-left: auto;
  margin-right: 9px;
  width: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.switch-sprites {
  margin-left: auto;
  margin-right: 5px;
}

.enemy-switch {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 20vh;
}

.switch-pokemon img, .enemy-switch img {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.chatbox {
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  width: 95%;
  height: 20%;
  overflow-y: scroll;
  background: white;
}

.chatbox ul {
  list-style: none;
}

.chatbox li {
  margin-bottom: 5px;
}

.your-log {
  color: blue;
}

.enemy-log {
  color: red;
}


.your-pokemon img, .enemy-pokemon img{
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

.your-health {
 border: 3px solid black;
 height: 20px;
 width: 40vh;
 margin-left: 20px;
 margin-right: 20px;
}

.pokemon-health {
  height: 100%;
  transition: 1s ease;
  transition-delay: 0.5s;
}

.health-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.enemy-health {
  display: flex;
  margin-top: auto;
  align-items: center;
  margin-left: 5px;
}

.active-move {
  background: black;
  color: white;
}

.switch-pokemon button, .switch-pokemon img {
  cursor: pointer;
}

.switch-pokemon button {
  margin-left: 7vh;
}

.switch-pokemon .active-pokemon {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.play-again {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.lose {
  background-image: url("https://www.syfy.com/sites/syfy/files/styles/1200x680_hero/public/2019/05/21e1dd6fa62529babb8665a911e19a7d.jpg");
}

.won {
  background-image: url("https://wallpapercave.com/wp/VHH1EMf.jpg");
}

.play-again h2 {
  margin-top: 10vh;
  font-size: 50px;
}

.play-again button {
  margin-bottom: 25vh;
}

.home {
  height: 100vh;
  background-image: url("https://wallpaperaccess.com/full/20997.jpg");
  background-size: cover;
  background-position: center;
}

.greninja {
  width: 70px;
}

.your-moves h3 {
  margin-left: auto;
  margin-right: 5vh;
}

.enemy-switch h3 {
  margin-left: 5vh;
}

#greninja {
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.enemy-sprites {
  margin-left: 10px;
}

.play-again button, .start-btn {
  color: red;
  height: 6vh;
  width: 10vh;
  background: black;
  transition: 0.5s;
  font-size: 2vh;
}

.play-again button:hover, .start-btn:hover {
  color: black;
  background: red;
}

#start-img {
  background-image: url("https://ssb.wiki.gallery/images/thumb/7/73/SSBU-Pok%C3%A9mon_Stadium_2.png/1200px-SSBU-Pok%C3%A9mon_Stadium_2.png");
  background-size: cover;
  background-position: center;
}

.battle h1 {
  color: white;
}