body {
  background: lightcyan;
}

.navbar {
  width: 100%;
  padding: 10px 0px 10px 0px;
  background: red;
  text-align: center;
  display: inline-flex;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
}

#home, #team, #profile, #battle, .navbar button{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 15px;
  cursor: pointer;
  background: red;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.login-form {
  display: none;
  float: right;
  border: 1px solid lightslategray;
  background: white;
  height: 170px;
}

.login-form a {
  margin-left: 195px;
}

.active {
  display: block;
}

#inputs input{
  display: block;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border-radius: 3px;
  border: 1px solid black;
}

fieldset {
  width: 250px;
  border-color: white;
  border-style: solid;
}

.submit {
  border-radius: 50%;
  margin-right: 70px;
  padding: 1px 2px 1px 2px;
  cursor: pointer;
}

.submit img {
  width: 30px;
  height: 30px;
}
.login-form, .profile, .signup{
  padding-top: 80px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.team-container {
  padding-top: 70px;
  background: red;
}

.team-form {
  padding-top: 100px;
}

.pokemon-container, .sprite-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid black;
  width: 110px;
  height: 210px;
  margin: 10px;
  transition: transform 0.5s;
}

.pokemon-card:hover, .sprite:hover {
  box-shadow: 0 0 2px 2px gray;
  transform: scale(1.1);
}

.type-container{
  margin-top: auto;
}

.type-container img {
  margin: 0 2px 0 2px;
  height: 15px;
  width: 40px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container img {
  margin-top: 5px;
}

.info-container img, .moves img {
  width: 50px;
  height: 20px;
}

.info-container .p-img {
  width: 250px;
  height: 250px;
}

table, th, tr {
  border: 1px solid black;
}

.return {
  margin: 15px 0 15px 0;
  padding: 15px;
  border-radius: 100px;
  background: rgb(75, 75, 199);
  color: white;
}

.add {
  margin: 15px 0 15px 0;
  padding: 15px;
  border-radius: 100px;
  background: green;
  color: white;
}

.remove {
  margin: 15px 0 15px 0;
  padding: 15px;
  border-radius: 100px;
  background: red;
  color: white;
}

.return:hover, .add:hover, .remove:hover {
  box-shadow: 0 0 2px 2px yellow;
  cursor: pointer;
}

.stats th {
  width: 125px;
}

.moves {
  margin-top: 30px;
}

.moves th {
  width: 191px;
}

.poke-search {
  width: 500px;
  height: 25px;
  font-size: 20px;
  margin-top: 10px;
}

.button-container button{
  margin: 3px 2px 0px 2px;
  cursor: pointer
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 130px;
  height: 130px;
}

.delete-team {
  display: flex;
  align-items: center;
}

.delete-team button {
  margin-left: 30px;
}

.trainer-info {
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 30px;
}
.trainer-info button {
  margin-bottom: 25px;
}

textarea {
  height: 100px;
  margin: 10px;
}

.edit-profile {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.signup form {
  display: flex;
  flex-direction: column;
}

.signup input {
  width: 250px;
  height: 30px;
  font-size: 15px;
}

.signup button {
  display: none;
}

.signup label {
  margin-top: 20px;
  font-weight: bold;
}

.form-container {
  height: 100vh;
  background-image: url("https://media.timeout.com/images/105678963/image.jpg");
  background-size: cover;
  background-position: center;
}

.sprite {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid black;
  width: 150px;
  height: 180px;
  transition: transform 0.5s;
  margin: 10px;
}

.sprite button {
  margin-top: auto;
  margin-bottom: 5px;
}